@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    background: linear-gradient(to right, #330954, #f23742);
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.container {
    width: 100%;
    margin-top: 15%;
}

.card {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.wrong {
    background-color: red;
}

.correct {
    background-color: green;
}

.card-text {
    opacity: 0.6;
}

.form-group {
    display: flex;
    gap: 15px;
}

.form-control {
    width: 75%;
}

.btn {
    border: none;
    background-color: #330954;
}

/* add flip animation to the card when the user clicks on the button */
.flip {
    animation: flip 0.5s ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}