{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'assets/OCL_Logo.svg' %}" type="svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/explosion.css' %}">
    <title>You Lost! | Code Red</title>
</head>
<body>
    <video loop autoplay muted plays-inline class="background-clip" src="{% static 'assets/v1.mp4' %}" width="100%"></video>
    <div class="container">
        <div class="content">
            <h2>hEHehE... </h2>
            <h2>aNd HeRe gOeS tHe cRaCkErS...</h2>
            <h2>bEtTeR lUcK NeXt TiMe ;)</h2>
        </div>
    </div>
</body>
</html>