{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{% static 'assets/OCL_Logo.svg' %}" type="svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Red | Home</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=ZCOOL+KuaiLe&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
</head>
<body>
  <main>
    <section id="welcome-section">
      <video preload="auto" autoplay="autoplay" muted="muted" loop="loop" playsinline="" class="bg-media-hero-video">
        <!-- <source type="video/mp4" src="https://files.facepunch.com/paddy/20190514/rust_bgvideo_website_003_noaudio.mp4"> -->
        <source type="video/webm" src="https://files.facepunch.com/paddy/20190516/rust_bgvideo_website_003.webm">
      </video>
      <div class="hero-content">
        <h1>CODE RED</h1>
        <p class="hero-sup">&mapstoleft; DEACTIVATE THE BOMB TO SAVE THE CITY &mapsto;</p>
      </div>
      <div class="container">
          <a href="{% url 'prelevel1' %}"><span>Start</span></a>
      </div>
    </section>
  </main>
</body>
</html>