{% extends 'base.html' %}
{% load static %}
{% block title %}
Guess the Location Part 2.
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/level6.css' %}">
<h1 class = "title-class">Level 6</h1>
<div class="cards-container">
    <div class="card" onclick="flipCard(this)">
        <div class="card-front">
            <h2>Click</h2>
        </div>
        <div class="card-back">
            <img src="{% static 'assets/card1.png' %}" class="image" alt="">
        </div>
    </div>
    <div class="card" onclick="flipCard(this)">
        <div class="card-front">
            <h2>To</h2>
        </div>
        <div class="card-back">
            <img src="{% static 'assets/card2.png' %}" class="image" alt="">
        </div>
    </div>
    <div class="card" onclick="flipCard(this)">
        <div class="card-front">
            <h2>Reveal</h2>
        </div>
        <div class="card-back">
            <img src="{% static 'assets/card3.png' %}" class="image" alt="">
        </div>
    </div>
</div>
<div class="text-wrapper">
    <p>
        Why is this a random statement? Because a small shop can help to harness huge energy.
    </p>
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="location" class="input-field" placeholder="Location" name="team_name" required>
        <br>
        <button class="start-button">SUBMIT</button>
    </form>
</div>
{% endblock %}
{% block hint %}

{% endblock %}
{% block script %}
<script src="{% static 'js/level6uof.js' %}"></script>
{% endblock %}