{% extends 'base.html' %}
{% load static %}
{% block title %}
  Read Carefully
  {% endblock %}
{% block typing %}
<link rel="stylesheet" href="{% static 'css/prelevel3.css' %}">
<div class="text-wrapper">
    <p>Greetings, agents, well done for making it this far. I must say, you're proving to be quite the challenge.
        But, let's not get ahead of ourselves. There's still much to do and die. To that end, I have sent one of my
        associates to a location in Mumbai. He will have more information for you and will meet you at 18:00. I
        could tell you exactly where he will be waiting, but where's the fun in that? The challenge is for you to
        find him. To help you along, I'll give you a clue.<br><br>
        "Amidst the bustle and crowds of Mumbai's beating heart,
        A towering arch stands tall, an emblem of the past.
        Here, at the southernmost tip, where land meets sea,
        Shadows dance in the moonlight."<br><br>
        Use this clue wisely, agents. The clock is ticking, and time is running out. Good luck, you really need it. 
    </p>
    <a href="{% url 'level3' %}">
        <button id="next">
            Proceed
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </a>
</div>
{% endblock %}