#maze {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1px;
    width: 500px;
    height: 500px;
}

.wall {
    background-color: black;
}

.path {
    background-color: white;
}

#start {
    background-color: green;
    grid-row: 1;
    grid-column: 1;
}

#end {
    background-color: red;
    grid-row: 10;
    grid-column: 10;
}