*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', Courier, monospace;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.loader
{
    position: relative;
}

.loader::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
    animation: blinkCursor 0.8s steps(2) infinite;
}

@keyframes blinkCursor 
{
    0%,75%
    {
        opacity: 1;
    }   
    76%,100%
    {
        opacity: 0;
    }
}

.loader h2
{
    position: relative;
    color: white;
    letter-spacing: 5px;
    font-size: 4em;
    text-transform: uppercase;
    animation: typing 2s steps(10) 1;
    overflow: hidden;
}

@keyframes typing
{
    from
    {
        width: 0;
    }
    to
    {
        width:  434.06px;
    }
}