body {
    background-color: white;
}
body.dark {
    background-color: black;
    background-image: url("images/map.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 30%;
    background-position-y: -25%;
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}