.title{
    position: absolute;
    transform: translate(350%, 70%);
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.link-wrapper{
    height: 200px;
    width: 400px;
    position: absolute;
    transform: translate(170%, 100%);
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5rem;
    font-weight: 900;
}

.link-wrapper a{
    color: #009a22;
    text-decoration: none;
}

a#code2{
    display: none;
}

.proceed-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    background-color: #000;
}

.proceed-btn:hover{
    background-color: #fff;
    color: #000;
}

@media (max-width: 1440px) {
    .link-wrapper{
        height: 200px;
        width: 400px;
        position: absolute;
        transform: translate(145%, 100%);
        font-family: 'Anonymous Pro', monospace;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .title{
        position: absolute;
        transform: translate(300%, 70%);
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
    .button-css{
        position: absolute;
        transform: translate(520%, 800%);
        font-family: 'Anonymous Pro', monospace;
        font-size: 1.5rem;
        font-weight: 700;
    }
}