.component{
    margin-right: 10px;
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 60%;
    height: 65px;
}
.case{
    background-color: grey;
    padding: 1.5%;
    width: fit-content;
    padding-right: 10px;
}
.vstrip{
    display: inline-block;
    border-left: 8px solid black;
    height: 50px;
}