{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Code Red</title>
  <link rel="icon" href="{% static 'assets/OCL_Logo.svg' %}" type="svg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/level1.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form method="POST" id="levelform">
    {% csrf_token %}
    <h3>Login</h3>
    <label class="primary-label" for="username">Agent ID</label>
    <input type="text" placeholder="Enter ID" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" name="password" id="password">
    <button type="submit">Login</button>
  </form>
  <script src="{% static '/js/level1.js' %}"></script>
</body>
</html>