.light1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}
.light2
{
  height: 100px;
  width: 100px;
  margin: 10px;
  display: inline-block;
}
body{
  background-color: black;
}
#dash {
width: 20px;
height: 100px;
background-color: white;
border: 1px solid black;
}
#dot {
width: 100px;
height: 100px;
background-color: white;
border: 1px solid black;
}

.slider-container {
display: flex;
align-items: center;
justify-content: center;
height: auto;
}

.slider {
-webkit-appearance: none;
width: 300px;
height: 10px;
background: #ddd;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
background: red;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 20px;
height: 20px;
background: #4caf50;
cursor: pointer;
}
/* center the container div */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 13rem;

}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}
.span-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
