@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #330954, #f23742);
}

h2 {
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

p {
    color: lightgray;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

button {
    background-color:  blue;
    color: lightgray;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: indigo;
}

#button {
    position: absolute;
    left: 700px;
    top: 160px;
    transition: all 0.5s ease;
}


#button.nearest {
    background-color: darkred;
}
#button.near {
    background-color: orangered;
}
#button.closer {
    background-color: green;
}
#button.far {
    background-color: blue;
}
.moved {
    left: 200px;
    top: 200px;
}