*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.container h2{
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
    text-shadow: 10px 10px 50px #000;
    animation: fade-in 5s;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@keyframes fade-in {
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}