div {
    /* text-align: center; */
    border: 5px solid #15F4EE;
    display:inline;
    padding: 5px;
    color: #15F4EE;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

body {
  padding: 20px;
  text-align: center;
    background-color: #000000;
}