body {
  padding: 20px;
  font-family: Verdana, sans-serif, Arial;
  background-color: white;
}

div {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 3px solid black;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#stopwatch {
  top: 80px;
}
