body {
  background: linear-gradient(145deg, #1a1a1a 50%, #404040 115%);
}
.text-wrapper {
  width: 80%;
  height: 50%;
  position: absolute;
  color: #009a22;
  transform: translate(15%, 50%);
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
  font-weight: 700;
}
#hint {
  display: none;
}
#next {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#next:hover {
  border: none;
  background: white;
  color: black;
}