.text-wrapper{
    width:50%;
    height: 50%;
    position: absolute;
    color: #009a22;
    transform: translate(50%,50%);
    font-family: 'Anonymous Pro', monospace;
    font-size: 24px;
    font-weight: 700;
  }

  #next{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }