{% extends 'base.html' %}
{% load static %}
  {% block title %}
  Welcome
  {% endblock %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/level1.css' %}">
  <!-- <script src="{% static 'js/level1.js' %}"></script> -->
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Level 1</h3>
    <p class="word" style="text-align:center;opacity:0.5;margin-top: -20px;"></p>
    <label class="primary-label" for="username">Agent ID</label>
    <input type="text" placeholder="Enter ID" id="name">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" id="pswrd">
    <button>Proceed to next level</button>
  </form>
  {% endblock %}
  {% block hint %}
  <p>
    “Hidden in plain sight, the key to unlocking my secrets lies within the code written in black and white."
  </p>
  {% endblock %}
  {% block script %}
  <script src="{% static 'js/level1.js' %}"></script>
  {% endblock %}
<!-- <script src="{% static 'js/level1.js' %}"></script> -->
  

