{% extends 'base.html' %}
{% load static %}
{% block title %}
  Can you Really Click Me?
{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/level2.css' %}">
  <h2>Level 2</h2>
  <p class="word"></p>
  <a href="{% url 'prelevel3' %}">
    <button id="button">Click me</button>
  </a>
{% endblock %}
{% block hint %}
  <span>
    "When distance is the game, seek the warmth for the short, but for the long, it's the cold that will bring the gain."
  </span>
{% endblock %}
{% block script %}
  <script src="{% static 'js/level2.js' %}"></script>
{% endblock %}