<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 2</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/level2.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <h2>Level 2</h2>
  <p class="word"></p>
  <button id="button">Click me</button>
  <script src="{% static 'js/level2.js' %}"></script>
</body>
</html>