{% extends 'base.html' %}
{% load static %}
{% block title %}
  Read Carefully
  {% endblock %}
{% block typing %}
<link rel="stylesheet" href="{% static 'css/prelevel3.css' %}">
<div class="text-wrapper">
    <p>Greetings, agents, well done for making it this far. I must say, you're proving to be quite the challenge.
        But, let's not get ahead of ourselves. There's still much to do and die. To that end, I have sent one of my
        associates to a location in Mumbai. He will have more information for you and will meet you at 18:00. I
        could tell you exactly where he will be waiting, but where's the fun in that? The challenge is for you to
        find him. To help you along, I'll give you a clue.
        "Where the sea meets the city at the very south, and time stands still at six, a man lies waiting, for those
        who can crack the mix."
        Use this clue wisely, agents. The clock is ticking, and time is running out. Good luck, you really need it. 
    </p>
    <button id="next">
        Proceed
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
{% endblock %}