{% extends 'base.html' %}
{% load static %}
{% block title %}
  Read Carefully
  {% endblock %}
{% block typing %}
<div class="text-wrapper">
    <p>Welcome! My dear agents. The terror awaits for you. I have planted a bomb in your beloved city of
        dreams. The time is ticking and I am giving you a challenge, a game to play. I can't tell you exactly
        where the bomb is, but I'll give you a hint, it's ticking and will explode in x units of time.
        You see, I just want to play a game with you, to see if you're good enough to save the city from my evil
        plan. I'll be your guide and your opponent at the same time. It's simple, find the bomb and defuse it
        before it goes off. Save the city of dreams from becoming the city of screams, but I must warn you, I
        am not your regular everyday normal terrorist. I'm the mastermind behind this, the one who will
        watch as the city crumbles at my feet.
        So, go ahead, press the button below to start the game. The curtain raises and the clock is ticking. Tick!
        Tock! Tick! Tock!! The city is waiting for its fate to be decided, and I'm waiting for my next challenge.
        The time is now, make your move. The game is on!! 
        
    </p>
    <button id="next">
        Next
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
{% endblock %}