{% extends 'base.html' %}
{% load static %}
{% block title %}
  Read Carefully
  {% endblock %}
{% block typing %}
<link rel="stylesheet" href="{% static 'css/prelevel6.css' %}">
<div class="text-wrapper">
    <p>As you've managed to make it this far, I'm both glad and sad to inform you that the game is far from over. The
        bomb is still ticking, and time is running out. Remember to save the file you received, as it will come in handy later
        on. The next level will reveal the location of the bomb, but it won't be easy. Three pies in hand, and a sentence to
        find, it's a puzzle for the cunning and a challenge for the mind. Each pie represents a dual code, a clue that must
        be revealed, with three positions in a sentence, by which it's concealed. To decode the message and locate the
        bomb, you must place your trust in what3words.com. Remember, it's a must to find the location before it's too
        late.
    </p>
    <button id="next">
        Next
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
{% endblock %}