{% extends 'base.html' %}
{% load static %}
{% block title %}
  Read Carefully
  {% endblock %}
{% block typing %}
<link rel="stylesheet" href="{% static 'css/prelevel4.css' %}">
<div class="text-wrapper">
    <p>
        You have met my associate and he has given you an envelope. What's inside, you wonder? Open it up, and you'll find four cards. They may look gibberish to you but they have the potential to save your city. But it also has a letter in it, the letter says:
        <br>
        In a game of wits, a level lies,
        Divided into fragments, cryptic in disguise.
        Letters to numbers, a departure time to glean,
        Beware of ASCII, or you'll be caught in between.
        <br>
        Once you have these fragments, you're not quite done,
        Go to the internet, and find a train that's one.
        Departure time, station codes, and arrival all in line,
        Find the train that fits, and the bomb you'll undermine.
    </p>
    <button id="next">
        Open
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
{% endblock %}